@media screen and (max-width: 768px) {

    .Articles-Admin {

        .div-article {

            .body-article {
                display: flex;
                flex-wrap: wrap;
            }

            .img-article {
                width: 200px;
                height: 200px;
                border-radius: 5px;
                margin: auto;
                margin-bottom: 2rem;
                margin-top: 1rem;
            }
        }
    }
}

@media screen {

    .Articles-Admin {

        .div-article {
            background-color: rgb(226, 226, 221);
            border-radius: 5px;
            padding: 1em;
            cursor: pointer;
            position: relative;
            padding-bottom: 3em;

            .body-article {
                display: flex;
            }

            .img-article {
                width: 200px;
                height: 200px;
                border-radius: 5px;
            }

            .content-article {
                text-align: justify;
            }

            .btn-modif {
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
        }
    }
}