*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'hindenburg';
    src: url('./font/hindenburg/Hindenburg.ttf') format('truetype')
}

.hindenburg {
    font-family: 'hindenburg';
}

body {
    margin: 0;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    //text-align: center;
    font-family: 'hindenburg';
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.radius50 {
    border-radius: 30px;
}

.btn-rounded {
    border-radius: 50%;
}