.ManageRegistered {
    .user-table {
        background-color: #cee3f1;
    }

    .nb-register {
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        background-color: #cee3f1;
    }

    .container-nb {
        display: flex;
        justify-content: flex-end;
    }
}