@import '../../styles/settings';

@media (min-width: 768px) {
    .Navbar {
        background-color: $myColor;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
        position: sticky;
        opacity: 1;
        z-index: 1000;
        top: 0;
        height: 72px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 16px;
        gap: 20px;

        .menu-burger {
            display: none;
            cursor: pointer;

            img {
                width: 30px;
                height: 30px;
            }
        }

        .menu-name {
            display: none;
        }

        .menu-burger:hover {
            border: 1px solid rgb(255, 254, 254);
            border-radius: 5px;
        }

        .logo {
            img {
                width: 70px;
                height: 60px;
            }
        }

        .menu {
            margin-top: 16px;
            list-style: none;
            gap: 4px;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-left: 0;
        }

        li {
            padding: 8px;
            border-radius: 8px;
            white-space: nowrap;
            color: white;
            font-size: 20px;
        }

        li:hover {
            background-color: aliceblue;
            color: black;
        }

        .div-svg {
            display: flex;
            gap: 10px;
            flex-grow: 0;
            justify-content: right;
        }

        .logout {
            position: relative;
            bottom: -2px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .svg-user {
            position: relative;
        }

        .menu-user {
            position: absolute;
            top: 25px;
            width: 150px;
            transform: translateX(-75%);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            border-radius: 5px;

            hr {
                margin: 0;
            }
        }

        .link-user {
            padding: 3px;
            border-radius: 5px;
            cursor: pointer;
        }

        .link-user:hover {
            font-weight: bold;
            background-color: aliceblue;
        }

    }

    .nav-responsive {
        display: none;
    }
}

@media (max-width: 768px) {

    .Navbar {
        background-color: $myColor;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
        position: sticky;
        opacity: 1;
        z-index: 1000;
        top: 0;
        height: 72px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0 16px;
        gap: 20px;
    }

    .menu-burger {
        display: block;
        cursor: pointer;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .menu-burger:hover {
        border: 1px solid rgb(255, 254, 254);
        border-radius: 5px;
    }

    .logo {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        color: $text-color;
        gap: 5px;

        img {
            width: 40px;
        }
    }

    .menu {
        display: none;
    }

    .div-svg {
        display: flex;
        gap: 5px;
        justify-content: right;
    }

    .logout {
        position: relative;
        //bottom: -1px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .svg-user {
        position: relative;
    }

    .menu-user {
        position: absolute;
        top: 25px;
        width: 150px;
        transform: translateX(-75%);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        hr {
            margin: 0;
        }
    }

    .link-user {
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;
    }

    .link-user:hover {
        font-weight: bold;
        background-color: aliceblue;
        color: black;
    }

    .nav-responsive {
        z-index: 999;
        position: fixed;
        width: 100%;
        top: 71px;
        height: 100vh;
        background-color: #e73b3b;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding-top: 3rem;

        .link-navResponsive {
            font-weight: bold;
            width: 80%;
            margin: auto;
            padding: 1rem;
            border-radius: 12px;
            color: white;
        }

        .link-navResponsive:hover {
            background-color: aliceblue;
            color: black;
        }

        hr {
            width: 80%;
            margin: auto;
        }
    }
}