.EditArticle {
    .textarea-custom {
        width: 100%;
        /* Ajustez la largeur selon vos besoins */
        height: 200px;
        /* Ajustez la hauteur selon vos besoins */
    }

    .img-article {
        width: 400px;
        height: 400px;
        border-radius: 5px;
    }
}