@media screen {
    .EditArticle {
        .textarea-custom {
            width: 100%;
            /* Ajustez la largeur selon vos besoins */
            height: 200px;
            /* Ajustez la hauteur selon vos besoins */
        }

        .img-article {
            width: 350px;
            height: 350px;
            border-radius: 5px;
        }

        .form-editArticle {
            width: 50%;
        }
    }
}

@media screen and (max-width: 500px) {
    .EditArticle {
        .form-editArticle {
            width: 80%;
        }

        .img-article {
            width: 80%;
            height: auto;
            border-radius: 5px;
        }
    }
}