@media screen and (max-width: 1000px) {
    .Inscription .form-signUp {
        width: 80% !important;
    }
}

.Inscription {
    .city {
        display: flex;
    }

    .div-ville {
        flex-grow: 1;
    }
}